streamlit==1.23.1
tensorflow==2.10.1
protobuf==3.19.6

# ML & Image
numpy==1.24.3
scikit-learn==1.2.2
opencv-python==4.7.0.72
pandas==1.5.3
matplotlib==3.7.1
plotly==5.15.0
Pillow==9.4.0

# API / Utils
requests==2.32.4
validators==0.34.0
gitpython==3.1.44
altair==5.4.1
typing-extensions==4.13.2
